@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
body {
  font-family: "League Spartan", sans-serif;
}

:root {
  --color-style--1: #ffb545;
  --color-style--2: #218380;

  --color-dark--0: #242a2e;
  --color-dark--1: #d81159;
  --color-dark--2: #8f2d56;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: aliceblue;
  font-family: "League Spartan", sans-serif;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-style--2);
  color: var(--color-dark--0);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}
